<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="[tempalte_relative_path]template.css">
</head>

<body>
    <div class="outline">
        <div class="card">

            <!-- Character Image (See CSS section) -->
            <div class="card-image" style="background-image:url('../[image]')"></div>

            <!-- <div class="frame-top"></div> -->
            <!-- <div class="frame-right"></div> -->

            <div class="blur-background"></div>

            <div class="suit" style="color:[suit-color]">
                <div class="card-number"><b>[card-number]</b></div>
                <div class="card-suit">[card-suit]</div>
            </div>

            <div class="card-header">
                <!-- Clan Start -->
                <div class="clan">[clan]</div>
                <!-- Clan End -->

                <!-- Blood Adjustment Start -->
                [bloods]
                <!-- Blood Adjustment End -->
            </div>

            <!-- Character Description Start -->
            <!-- <div class="profile-section">
			<div class="nickname">
				<b>[nickname]</b>
			</div>
			<div class "name">
				[name]
			</div>
		</div> -->
            <!-- Character Description End -->

            <!-- Skill Description Start -->
            <div class="skill-section">
                [skills]
                <!-- Skill Description End -->
            </div>

            <div class="card_type"></div>
        </div>
    </div>
</body>

</html>